@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;

  --background: oklch(0.99 0.005 295);
  --foreground: oklch(0.2 0.005 295);

  --primary: oklch(0.5 0.2 295);
  --primary-foreground: oklch(0.99 0.005 295);

  --secondary: oklch(0.55 0.08 295);
  --secondary-foreground: oklch(0.99 0.005 295);

  --card: var(--background);
  --card-foreground: var(--foreground);

  --popover: var(--background);
  --popover-foreground: var(--foreground);

  --muted: oklch(0.94 0.02 295);
  --muted-foreground: oklch(0.35 0.03 295);

  --accent: oklch(0.92 0.06 295);
  --accent-foreground: oklch(0.25 0.04 295);

  --destructive: oklch(0.5 0.4 70);

  --border: oklch(0.87 0.13 295);
  --input: oklch(0.94 0.015 295);
  --ring: oklch(0.5 0.2 295 / 0.6);

  --chart-1: oklch(0.55 0.13 295);
  --chart-2: oklch(0.6 0.14 300);
  --chart-3: oklch(0.5 0.12 290);
  --chart-4: oklch(0.58 0.1 305);
  --chart-5: oklch(0.52 0.11 285);

  --sidebar: oklch(0.93 0.01 295);
  --sidebar-foreground: oklch(0.12 0.01 295);
  --sidebar-primary: oklch(0.5 0.13 295);
  --sidebar-primary-foreground: oklch(0.98 0.01 295);
  --sidebar-accent: oklch(0.94 0.025 295);
  --sidebar-accent-foreground: oklch(0.15 0.01 295);
  --sidebar-border: oklch(0.85 0.01 295);
  --sidebar-ring: oklch(0.5 0.13 295);
}

.dark {
  /* todo - dark theme */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-3xl sm:text-4xl font-bold;
  }
  h2 {
    @apply text-2xl sm:text-3xl font-semibold;
  }
  h3 {
    @apply text-xl sm:text-2xl font-medium;
  }
  h4 {
    @apply text-lg font-medium;
  }
  p,
  label,
  span {
    @apply text-base;
  }
}

@layer components {
  .form {
    @apply w-full;

    .button {
      @apply !w-full cursor-pointer;
    }
  }

  .btn {
    @apply cursor-pointer !text-white;
  }
}

@layer utilities {
  .bg-custom-gradient {
    @apply bg-gradient-to-br from-gray-50 via-white to-gray-100;
    /* @apply bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] bg-[size:20px_20px]; */
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
